<div class="row justify-content-md-center">
    <div class="col-sm-4" style="min-width: 400px;">
        <form class="form-signin">

            <h1 class="h3 mb-3 font-weight-normal text-center">Register</h1>
            <label for="inputFirstName" class="sr-only">First Name</label>
            <input type="text" id="inputFirstName" class="form-control" placeholder="First Name" required autofocus>
            <p></p>

            <label for="inputLastName" class="sr-only">Last Name</label>
            <input type="text" id="inputLastName" class="form-control" placeholder="Last Name" required autofocus>
            <p></p>

            <label for="inputPhone" class="sr-only">Phone</label>
            <input type="tel" id="inputPhone" class="form-control" placeholder="Phone" required autofocus pattern="[0-9]{3}-[0-9]{2}-[0-9]{3}">
            <p></p>

            <label for="inputEmail" class="sr-only">Email</label>
            <input type="email" id="inputEmail" class="form-control" placeholder="Email" required autofocus>
            <p></p>

            <label for="inputPassword" class="sr-only">Password</label>
            <input type="password" id="inputPassword" class="form-control" placeholder="Password" required>
            <p></p>

            <label for="inputPassword" class="sr-only">Confirm Password</label>
            <input type="password" id="inputConfirmPassword" class="form-control" placeholder="Confirm Password" required>
            <p></p>

            <button class="btn btn-lg btn-primary btn-block" type="submit">Register</button>
            <p></p>
          </form>
    </div>
</div>