<div class="row justify-content-md-center">
    <div class="col-sm-4" style="min-width: 400px;">

        <div class="card">
        <div class="card-body">
        <form [formGroup]="loginForm" (ngSubmit)="login()">
            <h1 class="h3 mb-3 font-weight-normal text-center">Please sign in</h1>

            <div class="form-group">
                <label for="inputEmail" class="sr-only">Email address</label>
                <input type="email" formControlName="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
                <p></p>
            </div>

            <div class="form-group">
                <label for="inputPassword" class="sr-only">Password</label>
                <input type="password" formControlName="password" id="inputPassword" class="form-control" placeholder="Password" required>
                <p></p>
            </div>

            <div class="form-group">
                <button [disabled]="loading" class="btn btn-lg btn-primary btn-block" type="submit">
                    <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                    Log In
                </button>
            </div>
            
            <p></p>
            <p class="text-center">Forgot <a routerLink="/reset-password-step1">Password?</a></p>
            <p class="text-center">Create an account? <a routerLink="/register">Sign up</a></p>
          </form>
          </div>
        </div>
    </div>
</div>