<div class="row justify-content-md-center">
    <div class="col-sm-4" style="min-width: 400px;">

        <div class="card">
        <div class="card-body">
        <form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()">
            <h1 class="h3 mb-3 font-weight-normal text-center">Change password</h1>

            <div class="form-group">
                <label for="inputPassword" class="sr-only">New password</label>
                <input 
                type="password" 
                formControlName="password" 
                id="inputPassword" 
                class="form-control" 
                [ngClass]="{ 'is-invalid': submitted && f.password.errors }"
                placeholder="New password" 
                autofocus>
                <div *ngIf="submitted && f.password.errors">
                    <span *ngIf="f.password.errors.required" class="help-block">Password is required</span>
                    <span *ngIf="f.password.errors.minlength" class="help-block">Password must be at least 6 characters</span>
                </div>
                <p></p>
            </div>

            <div class="form-group">
                <label for="inputConfirmPassword" class="sr-only">Confirm new password</label>
                <input 
                type="password" 
                formControlName="confirmPassword" 
                id="inputConfirmPassword" 
                class="form-control" 
                [ngClass]="{ 'is-invalid': submitted && f.confirmPassword.errors }"
                placeholder="Confirm new password" 
                >
                <div *ngIf="submitted && f.confirmPassword.errors">
                    <span *ngIf="f.confirmPassword.errors.required" class="help-block">Confirm password is required</span>
                    <span *ngIf="f.confirmPassword.errors.mustMatch || f.confirmPassword.errors.minlength" class="help-block">Passwords must match</span>
                </div>
                <p></p>
            </div>

            <button [disabled]="loading" class="btn btn-lg btn-primary btn-block" type="submit">
                <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                Change my password</button>
            <p></p>
          </form>
          </div>
        </div>
    </div>
</div>